.counter{
    margin-left: 0.9rem;
    display: flex;
}

.counter-button {
    margin-left: 0.2rem;
    height: 1.5rem;
    margin-top: 3rem;
    flex-direction: row;
    margin-bottom: 0.2rem;
    

}
.counter-text{
    text-decoration: whitesmoke;
    margin-left:-6rem;
    margin-bottom: 0.7rem;
    flex-direction: row;
    
}