.gradient-button-1 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #e7eef1;
    border: 10px solid transparent;
    border-image: linear-gradient(to top right, orangered, yellow);
    border-image-slice: 1;
    color: orangered;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .gradient-button-1:hover {
    background-size: 100%;
    background-image: linear-gradient(to top right, orangered, yellow);
    color: white;
  }


  .gradient-button-2 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 7px 20px;
    font-size: 1.4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #e7eef1;
    border: transparent solid 4px;
    border-image: linear-gradient(to right, yellow, transparent);
    border-image-slice: 1;
    color: black;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 1rem;
    
  }
  .gradient-button-2:hover {
    background-size: 100%;
    background-image: linear-gradient(to right, black, transparent);
    border-right-style: none;
    color: yellow;
    
  }
