.form-row {
    padding: 10px;
    display: flex;
    
  }
  .form-row-label {
    padding-right: 10px;
    flex-flow: row;
  }
  .form-row-input {
    flex:1;
    padding-right: 10px;
    flex-flow: row;
    
  }
  .form-row-input-password {
    flex:2;
    padding-right: 10px;
    flex-flow: row;
    margin-left: 0.5rem;
    
  }

  