.layout-header {
    display: flex;
    flex-direction: row-reverse;
    background-image: -webkit-linear-gradient(135deg, rgba(7, 7, 0, 0.9) 30%, rgba(226, 222, 5, 0.9) 90%);
    background-image: linear-gradient(135deg, rgba(7, 7, 0, 0.9) 30%, rgba(226, 222, 5, 0.9) 90%);
    position: relative;
    top: 0;
    height: 8rem;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 10px rgba(83,83,83,0.2);
}

.hl-list{
    display: flex;
    margin-top: 5rem;
    margin-right: 1rem;
    flex-direction: row;
    

}

 